<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LSTMモデルによる株価予測アプリ</title>
</head>
<body>
    <h1>LSTMモデルによる株価予測アプリ in Flask</h1>
    <form action="/plot" method="post">
        <label for="from_year">取得データ年数:</label>
        <input type="text" id="from_year" name="from_year" value="3"><br>
        
        <label for="ref_days">学習日数:</label>
        <input type="text" id="ref_days" name="ref_days" value="60"><br>
        
        <label for="code">銘柄コード:</label>
        <input type="text" id="code" name="code" value="9861"><br>
        
        <input type="submit" value="Submit">
    </form>
    {% if show_plot %}
    <h2>Generated Plot:</h2>
    <img src="{{ plot_url }}" alt="Plot">
    {% endif %}
</body>
</html>
